:root {
    --cor-fundo: #a1e2db;
    --cor-fundo-2: #a0d8d8;
    --cor-form: #9099a5;
    --cor-text: #000000;
    --cor-erro: #8f3e3e;
    --cor-sucesso: #689257;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;

    color: var(--cor-text);
    background-color: var(--cor-fundo);
}

main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.container {
    background-color: var(--cor-fundo-2);
    padding: 2%;
    gap: 2%;
    border-radius: 10%;
    box-shadow: 10px 10px 15px rgba(19, 20, 55, 0.3);
}

#form-login {
    display: flex;
    flex-direction: column;
}

#title{
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toggle {
    text-align: center;
    margin: 10px;
    cursor: pointer;
    color: var(--cor-text);
}

.erro{
    color: var(--cor-erro);
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 10px;
}

.sucesso{
    color: var(--cor-sucesso);
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    background-color: aliceblue;
    border-radius: 10px;
}